
.NabBarMain {
  text-align: center;
  /* height: 458px; */
  background-color: #c2dcdd;
  margin-bottom: 10px;
  background: url(../../Images/back4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
  color: #ffffff;
  font-size: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px 3px orange;
  /* box-shadow: ; */
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fab {
  margin-left: 50px;
  text-decoration: none;
  font-size: large;
  color: #fafafa;
}

a.nav-link {
  display: flex;
  justify-content: center;
  /* margin-left: 60px; */
  color: #222222;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-brand {
  color: rgba(10, 27, 27, 0.5) !important;
  font-size: large;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-brand:hover {
  /* background-color: #ffffff; */
  border-radius: 10%;
  color: rgb(12, 19, 19) !important;
  text-decoration: underline;
  text-decoration-color: #fda172;
}

.nav-link{
  margin-left: 30px;
}